# Datastore
datastore/

# Temporary
tmp/

# Misc
.DS_Store
.env
.venv/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/

# Python
*.pyc
*.ipynb*

# LaTeX
*.lyx~
*.lyx#
*.aux
*.fls
*.out
*.fdb_latexmk
*.handout.pdf
*.handout.lyx
*.synctex.gz

# Vercel
.vercel
